<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Member yang dipilih : {{ selectedMember }}/h1>

        <member-component 
        v-for="member in members" 
        :member= "member"
        @selected= "selectedMember = $event">
        </member-component>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <script>
    
    var MemberComponent = {
        template : `
        <div>
            <label> {{member.name}} <button @click="$emit('selected', member.name)"> Pilih </button> </label>
            <p> {{member.address}} </p>
            <label> {{member.no_hp}} </label>
        </div>
        
        `,
        data(){
            return {
                pesan : 'Componen Member'
            }
        },
        props : ['member']
    }

    const vm = new Vue ({
        el: '#app1',
        components : {
            'member-component' : MemberComponent
        },
        data : {
            members : [
                {
                    name : 'Nama 1',
                    address : 'Address 1',
                    no_hp : '123'
                },
                {
                    name : 'Nama 2',
                    address : 'address 2',
                    no_hp : '456'
                }
            ],
            selectedMember : 'Nama 1'
        }
    })

    </script>
</body>
</html>